<div class="container-fluid h-100 banner-fixed">
    <div class="row h-100">
        <div class="col-md-12 p-0">
            <section class="center-content h-100">
                <h2 id="content-title"><%= h2 %></h2>
                <p>Driving Test Booking Kiosk</p>
            </section>
        </div>
    </div>
</div>
