<!DOCTYPE html>
<html>
<head>
<style>
footer {
  background-color: #444;
  color: white;
  padding: 1px;
  text-align: center;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
</style>
</head>
<body>

<footer>
    <p>Powerd by DriverTest Center<br>
Gaurav/8970647</p>
</footer>
</body>
</html>
